<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maplebiz.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
				<key>dateExpires</key>
				<string>24/12/2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pdf_viewer_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A11B65C70CAE573042F088CD832A187EC43756D</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G8C4WBT7Q8.my.com.intds.maplebiz.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G8C4WBT7Q8</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>G8C4WBT7Q8.my.com.intds.maplebiz.OneSignalNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>42e5637f-bfa6-448b-98a9-f1625fcfa6e2</string>
						<key>dateExpires</key>
						<string>24/12/2023</string>
						<key>name</key>
						<string>adhoc_onesignal_20221224</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G8C4WBT7Q8.my.com.intds.maplebiz</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G8C4WBT7Q8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eed0b6c4-27ef-413e-977f-263790da63e4</string>
				<key>dateExpires</key>
				<string>24/12/2023</string>
				<key>name</key>
				<string>adhoc20221224</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G8C4WBT7Q8</string>
				<key>name</key>
				<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
