<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>markndo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
				<key>dateExpires</key>
				<string>12/01/2024</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pdf_viewer_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE4A8A750391C7F74DCBE4F6482FC2976A6FF717</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G8C4WBT7Q8.com.markndo.markndoapp.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G8C4WBT7Q8</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>G8C4WBT7Q8.com.markndo.markndoapp.OneSignalNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>d636d67e-3196-4005-9d79-3276e742160e</string>
						<key>dateExpires</key>
						<string>12/01/2024</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.markndo.markndoapp.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G8C4WBT7Q8</string>
						<key>name</key>
						<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G8C4WBT7Q8.com.markndo.markndoapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G8C4WBT7Q8</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.markndo.markndoapp</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f3829a85-5f46-4d08-9438-9287121ffac9</string>
				<key>dateExpires</key>
				<string>12/01/2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.markndo.markndoapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G8C4WBT7Q8</string>
				<key>name</key>
				<string>MAPLE BUSINESS MANAGEMENT (M) SDN. BHD.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.5</string>
		</dict>
	</array>
</dict>
</plist>
